html{
    background-color:  rgb(141, 148, 155);
    }
#logo1{
    width: 550px;
    margin-top: 15px;
    height:90px;
    float: left;
}
h1{
    position: relative;
  top: 5px;
  left: 50px;
}
h3{
background-color: black;
margin-top: 10px;
}
#navigation{
    margin: 0px 0px 0px 0px;
    position: fixed;
    background-color:black; 
    top:0;
    width:1333px;
    line-height:45px;
       }
main{
    display: flex;
    flex-direction:column;
    width: 90vw;
    height: auto;
    margin: auto;
}
.nav{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 80px 10px 30px;
        color: rgba(248, 109, 34, 0.892);
    text-decoration: none;
    border-right:  6px solid rgb(255, 0, 0);
    border-top-right-radius: 60px;
}
.nav:hover{
    color:rgb(35, 255, 35);
font-size:26px;
    }
hr{
    height: 35px;
    max-width: 100vw;
    color:black;
    background-color: black;
    border-top: solid black; 
    border-bottom: solid black;
    border-right: none;
    border-left: none;
    margin: auto;
}
#hr1{
    height: 35px;
    width:auto;
    color:black;
    background-color:rgb(141, 148, 155);
    border-top: solid rgb(141, 148, 155); 
    border-bottom: solid rgb(141, 148, 155);
    border-right: none;
    border-left: none;
    margin: auto;
}
.contenttext{
    font-size: 22px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
color: rgb(38, 22, 12);
padding:22px ;
margin: 5px;
line-height: 47px;
}
.navtitles{
    margin-bottom: 20px;
    margin-top:40px;
    margin-left:35px;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d2414;
}
.featurescolumns{
    display: grid;
    grid-template-columns: 2fr 2fr;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 28px;
    margin-bottom: 58px;
    padding-bottom: 55px;
}
.productcolumns{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    flex-direction: row;
    align-items: flex-start;
        }
#product1{
    margin:10px;
    height:200px ;
    width: 380px;
}
#product2{
    margin:10px;
    height: 200px;
    width: 380px;
}
#product3{
    margin:10px;
    height: 200px;
    width: 380px;
}
#products{
    margin-bottom: 30px;
    margin-top:100px;
}
#features{
    margin-bottom:50px;
}
#about{
    margin-bottom: 30px;
}
#product1package{
    margin:45px 25px 45px 5px;
}
#product2package{
    margin:45px 25px 45px 5px;
}
#product3package{
    margin:45px 0px 45px 5px;
}
.cart-button{
    margin-left: 20px;
}
#email{
    color: rgb(192, 46, 2);
}
#email:hover{
    color: rgb(0, 124, 0);
}
#lc{
    color: rgba(232, 54, 0, 0.919) ;
    text-decoration: none;
    font-weight: 500;
}
#lc:hover{
    color:rgb(36, 126, 0);
    text-decoration: none;
    font-weight: 500;
}
.cart-button{
    background-color: rgb(230, 126, 35);
}
.cart-button:hover{
    background-color: lime;
}
.add-to-cart{
    font-weight: 800;
}
footer{
    margin: 200px 0px 50px 42vw;
  }
footer a{
    text-decoration: none;
 color: rgb(0, 0, 0);
 font-weight: 550;
 font-size: 25px;
}
footer a:hover{
    text-decoration: none;
 color: rgb(0, 0, 0);
 font-weight: 550;
 font-size: 28px;
}
.ul2{
    font-size: 18px;
}